%div.row
  %div.to-do.pull-left
    %h2 Your Missions
    %div
      %ul
        =render items
    %div.user-form
      =render 'items/form'
  %div.user-section.pull-right
    %div.user-profile
      =image_tag current_user.avatar.profile.url, class: 'profile-image'
      %h3
        =current_user.name
      =current_user.email
      %br
      =link_to 'Edit Profile', edit_user_registration_path, class: 'btn btn-success edit-button'
