%div.main-content
  %p.lead.centered Are you tired of never-ending To Do lists?

%div.row
  %div.col-md-4
    %h2 BLOC
    %p Create ToDo items on the fly!

  %div.col-md-4
    %h2 IT
    %p The time is ticking? Do you feel the pressure? "Mission Impossible Style"

  %div.col-md-4
    %h2 OFF
    %p Another one bites the dust...
