%div.row.main-content
  %div.jumbotron.welcome-box
    %h1 BLOC-IT-OFF
    %p.lead Your missions this week should you choose to accept them...
    =link_to "Sign Up", new_user_registration_path, class: 'btn btn-success'
