=form_for [current_user,item] do |f|
  %div.form-group
    =f.text_field :name, class: 'form-control', placeholder: 'Enter new mission...'
  %div.form-group
    =f.submit 'add', class: 'btn btn-success'
