=content_tag :li, class: 'todo-items', id: "item-#{item.id}" do
  =link_to '', [current_user,item], method: :delete, class: 'glyphicon glyphicon-ok', remote: true
  =item.name
  %div.pull-right.days-left
    ="#{item.days_left} days left"
