// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.content-box {
  margin: 50px auto;
  width: 800px;
  height: auto;
  border: 1px solid;
  border-radius: 0 0 10px 10px;
}

.main-content {
  margin-top: 50px;
}

.buttons {
  margin: 20px 50px;
}

.centered, h1, h2, p {
  text-align: center;
}

.user-form {
  margin: 20px;
}
